<%= if assigns[:links?] do %>
  <div class="row">
    <div class="col">
      <%= render(PuzzleChallengeWeb.HomeView, "links.html", assigns) %>
    </div>
    <div class="col">
      <%= render(PuzzleChallengeWeb.HomeView, "puzzle.html", assigns) %>
    </div>
  </div>
<% else %>
  <%= render(PuzzleChallengeWeb.HomeView, "puzzle.html", assigns) %>
<% end %>
